USE [master]
GO
/****** Object:  Database [GYM_SQL_DEV]    Script Date: 12/20/2024 9:25:37 AM ******/
CREATE DATABASE [GYM_SQL_DEV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GYM_SQL_DEV', FILENAME = N'D:\SQLServer\MSSQL15.SQL2019\MSSQL\DATA\GYM_SQL_DEV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GYM_SQL_DEV_log', FILENAME = N'D:\SQLServer\MSSQL15.SQL2019\MSSQL\DATA\GYM_SQL_DEV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GYM_SQL_DEV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GYM_SQL_DEV]
GO
/****** Object:  Table [dbo].[CARD_CHECK_IN]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_CHECK_IN](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TIME_START] [datetime2](7) NULL,
	[TIME_END] [datetime2](7) NULL,
	[CARD_INFO_ID] [bigint] NULL,
	[DAY_CHECK_IN] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_CARD_CHECK_IN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_HISTORY]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[EFFECTED_DATE] [nvarchar](500) NULL,
	[EXPIRED_DATE] [nvarchar](500) NULL,
	[CARD_TYPE_ID] [bigint] NULL,
	[WARDROBE] [bit] NULL,
	[SHIFT_ID] [bigint] NULL,
	[PRICE] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[LOCKER_ID] [bigint] NULL,
	[NOTE] [nvarchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[ACTION] [int] NULL,
	[IS_HAVE_PT] [bit] NULL,
 CONSTRAINT [PK_CARD_HISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_INFO]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_INFO](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[EFFECTED_DATE] [nvarchar](500) NULL,
	[EXPIRED_DATE] [nvarchar](500) NULL,
	[EFFECTED_DATE_TIME] [datetime2](7) NULL,
	[EXPIRED_DATE_TIME] [datetime2](7) NULL,
	[CARD_TYPE_ID] [bigint] NULL,
	[WARDROBE] [bit] NULL,
	[SHIFT_ID] [bigint] NULL,
	[PRICE] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[LOCKER_ID] [bigint] NULL,
	[NOTE] [nvarchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[IS_HAVE_PT] [bit] NULL,
 CONSTRAINT [PK__CARD_CHE__3214EC27CCEBC1F4] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_ISSUANCE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_ISSUANCE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DOCUMENT_NUMBER] [nvarchar](250) NULL,
	[DOCUMENT_DATE] [nvarchar](250) NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[CARD_ID] [bigint] NULL,
	[HOUR_CARD] [bigint] NULL,
	[HOUR_CARD_BONUS] [bigint] NULL,
	[TOTAL_HOUR_CARD] [bigint] NULL,
	[PER_SELL_ID] [bigint] NULL,
	[WARDROBE] [bit] NULL,
	[LOCKER_ID] [bigint] NULL,
	[IS_HAVE_PT] [bit] NULL,
	[PER_PT_ID] [bigint] NULL,
	[IS_REAL_PRICE] [bit] NULL,
	[CARD_PRICE] [bigint] NULL,
	[PERCENT_DISCOUNT] [bigint] NULL,
	[AFTER_DISCOUNT] [bigint] NULL,
	[PERCENT_VAT] [bigint] NULL,
	[TOTAL_PRICE] [bigint] NULL,
	[MONEY_HAVE_PAY] [bigint] NULL,
	[PAID_MONEY] [bigint] NULL,
	[NOTE] [nvarchar](max) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_CARD_ISSUANCE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_LOCK]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_LOCK](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [date] NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK__CARD_LOC__3214EC27A3EAB1DB] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_REGISTER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_REGISTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_RENEWAL]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_RENEWAL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_TYPE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_TYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CARD_UPDATE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARD_UPDATE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIN_CASH_REPORT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_CASH_REPORT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIN_DEBT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_DEBT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIN_INTEREST]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_INTEREST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIN_PAYMENT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_PAYMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FIN_RECEIPTS]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FIN_RECEIPTS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_CLOCK_GYM]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_CLOCK_GYM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_DISCOUNT_VOUCHER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_DISCOUNT_VOUCHER](
	[ID] [bigint] NOT NULL,
	[CODE] [nvarchar](450) NULL,
	[NAME] [nvarchar](450) NULL,
	[NOTE] [nvarchar](450) NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[DISCOUNT_TYPE_ID] [bigint] NULL,
	[DICOUNT_VALUE] [nvarchar](250) NULL,
	[START_DATE] [nvarchar](250) NULL,
	[END_DATE] [nvarchar](250) NULL,
	[START_DATETIME] [datetime2](7) NULL,
	[END_DATETIME] [datetime2](7) NULL,
	[CONDITION] [nvarchar](450) NULL,
	[ISSUE_QUANTITY] [bigint] NULL,
	[USED_QUANTITY] [bigint] NULL,
	[TARGET_CUSTOMERS] [bigint] NULL,
	[STATUS] [bigint] NULL,
	[DESCRIPTION] [nvarchar](450) NULL,
	[USAGE_LIMIT] [int] NULL,
	[DISTRIBUTION_CHANNEL] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_EQUIPMENT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_EQUIPMENT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](150) NULL,
	[NAME] [nvarchar](500) NULL,
	[EQUIPMENT_TYPE] [bigint] NULL,
	[MANUFACTURER] [nvarchar](max) NULL,
	[PURCHASE_DATE] [datetime2](7) NULL,
	[STATUS_ID] [bigint] NULL,
	[WARRANTY_EXPIRY_DATE] [datetime2](7) NULL,
	[COST] [decimal](18, 2) NULL,
	[ADDRESS] [nvarchar](max) NULL,
	[MANAGER_ID] [bigint] NULL,
	[NOTE] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](250) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](250) NULL,
 CONSTRAINT [PK_GOODS_EQUIPMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_EQUIPMENT_FIX]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_EQUIPMENT_FIX](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[EQUIPMENT_ID] [bigint] NULL,
	[TYPE_ID] [int] NULL,
	[START_DATE] [nvarchar](500) NULL,
	[END_DATE] [nvarchar](500) NULL,
	[RESULT_ID] [bigint] NULL,
	[MONEY] [decimal](18, 2) NULL,
	[EXPECTED_USE_TIME] [nvarchar](500) NULL,
	[EMPLOYEE_ID] [bigint] NULL,
	[NOTE] [nvarchar](max) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](250) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](250) NULL,
	[STATUS_ID] [bigint] NULL,
 CONSTRAINT [PK_GOODS_EQUIPMENT_FIX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_LIST]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_LIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](450) NULL,
	[NAME] [nvarchar](450) NULL,
	[PRODUCT_TYPE_ID] [bigint] NULL,
	[SUPPLIER] [nvarchar](450) NULL,
	[IMPORT_PRICE] [decimal](18, 2) NULL,
	[PRICE] [decimal](18, 2) NULL,
	[QUANTITY] [bigint] NULL,
	[MEASURE_ID] [bigint] NULL,
	[RECEIVING_DATE] [nvarchar](100) NULL,
	[RECEIVING_DATETIME] [datetime2](7) NULL,
	[EXPIRE_DATE] [nvarchar](100) NULL,
	[EXPIRE_DATETIME] [datetime2](7) NULL,
	[LOCATION] [nvarchar](450) NULL,
	[STATUS] [bigint] NULL,
	[NOTE] [nvarchar](450) NULL,
	[BATCH_NO] [nvarchar](200) NULL,
	[WARRANTY_INFOR] [nvarchar](450) NULL,
	[DESCRIPTION] [nvarchar](450) NULL,
	[SOURCE] [nvarchar](450) NULL,
	[MANAGER_ID] [bigint] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK__GOODS_LI__3214EC27B9AB5EC6] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_LOCKER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_LOCKER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](450) NULL,
	[AREA] [bigint] NULL,
	[PRICE] [bigint] NULL,
	[STATUS_ID] [bigint] NULL,
	[MAINTENANCE_FROM_DATE] [nvarchar](450) NULL,
	[MAINTENANCE_TO_DATE] [nvarchar](450) NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[NOTE] [nvarchar](450) NULL,
 CONSTRAINT [PK__LOC_MANA__3214EC271232494A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_MATERIAL]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_MATERIAL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_PACKAGE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_PACKAGE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](250) NULL,
	[MONEY] [decimal](18, 2) NULL,
	[PERIOD] [float] NULL,
	[SHIFT_ID] [bigint] NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[IS_PRIVATE] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](250) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](250) NULL,
 CONSTRAINT [PK_GYM_PACKAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_PRICE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_PRICE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GOODS_SHIFT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GOODS_SHIFT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[NAME] [nvarchar](250) NULL,
	[TOTAL_DAYS] [int] NULL,
	[HOURS_START] [nvarchar](250) NULL,
	[HOURS_END] [nvarchar](250) NULL,
	[IS_ACTIVE] [bit] NULL,
	[NOTE] [nvarchar](500) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](250) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](250) NULL,
 CONSTRAINT [PK_GYM_SHIFT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOC_RENTAL]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOC_RENTAL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOC_STATUS]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOC_STATUS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORD_BILL]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_BILL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[TYPE_TRANSFER] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[PER_SELL_ID] [bigint] NULL,
	[CODE] [nvarchar](450) NULL,
	[DISC_PERCENT] [decimal](18, 0) NULL,
	[MONEY_HAVE_PAY] [bigint] NULL,
	[TOTAL_MONEY] [bigint] NULL,
	[PAY_METHOD] [bigint] NULL,
	[PK_REF] [bigint] NULL,
	[PERCENT_VAT] [decimal](18, 0) NULL,
	[VOUCHER_ID] [bigint] NULL,
	[IS_CONFIRM] [bit] NULL,
	[PRINTED] [bit] NULL,
	[PRINT_NUMBER] [int] NULL,
 CONSTRAINT [PK__ORD_BILL__3214EC272ACE3E0D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORD_LIST_BILL]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_LIST_BILL](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORD_LIST_PROMOTION]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_LIST_PROMOTION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORD_REPORT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_REPORT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORD_TRANS_METHOD]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORD_TRANS_METHOD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_BIRTHDAY]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_BIRTHDAY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_HISTORY]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_HISTORY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_INFO_CARD]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_INFO_CARD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_INFORMATION]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_INFORMATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_LIST_CARD]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_LIST_CARD](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CARD_ID] [bigint] NULL,
	[START_DATE] [datetime2](7) NULL,
	[EXPIRE_DATE] [datetime2](7) NULL,
	[USED​_TIME] [float] NULL,
	[EXTENSION_PERIOD] [float] NULL,
	[TOTAL_TIME] [float] NULL,
	[CARD_PRICE] [bigint] NULL,
	[CUSTOMER_ID] [bigint] NULL,
 CONSTRAINT [PK_PER_CUS_LIST_CARD] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_NOT_GOTO_GYM]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_NOT_GOTO_GYM](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_PROMOTION]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_PROMOTION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUS_TRANSACTION]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUS_TRANSACTION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](255) NULL,
	[TRANS_DATE] [nvarchar](255) NULL,
	[CUSTOMER_ID] [bigint] NULL,
	[TRANS_FORM] [bigint] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK__PER_CUS___3214EC27F29CE75C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUSTOMER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUSTOMER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[AVATAR] [nvarchar](1000) NULL,
	[CODE] [nvarchar](50) NULL,
	[CUSTOMER_CLASS_ID] [bigint] NULL,
	[FIRST_NAME] [nvarchar](50) NULL,
	[LAST_NAME] [nvarchar](50) NULL,
	[FULL_NAME] [nvarchar](255) NULL,
	[BIRTH_DATE] [nvarchar](255) NULL,
	[GENDER_ID] [bigint] NULL,
	[ADDRESS] [nvarchar](500) NULL,
	[PHONE_NUMBER] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[NATIVE_ID] [bigint] NULL,
	[RELIGION_ID] [bigint] NULL,
	[BANK_ID] [bigint] NULL,
	[BANK_BRANCH] [bigint] NULL,
	[BANK_NO] [nvarchar](255) NULL,
	[IS_GUEST_PASS] [bit] NULL,
	[JOIN_DATE] [nvarchar](255) NULL,
	[HEIGHT] [nvarchar](10) NULL,
	[WEIGHT] [nvarchar](10) NULL,
	[CARD_ID] [bigint] NULL,
	[NOTE] [nvarchar](500) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
	[EXPIRE_DATE] [nvarchar](255) NULL,
	[GYM_PACKAGE_ID] [bigint] NULL,
	[PER_PT_ID] [bigint] NULL,
	[PER_SALE_ID] [bigint] NULL,
	[ID_NO] [nvarchar](255) NULL,
	[STATUS_ID] [bigint] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_CUSTOMER_CLASS]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_CUSTOMER_CLASS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](200) NULL,
	[NAME] [nvarchar](200) NULL,
	[NOTE] [nvarchar](200) NULL,
	[IS_ADMIN] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
 CONSTRAINT [PK_CUSTOMER_CLASS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_DISTRICT]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_DISTRICT](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NOT NULL,
	[PROVINCE_ID] [bigint] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[IS_ACTIVE] [bit] NULL,
	[NOTE] [nvarchar](1500) NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
 CONSTRAINT [PK_PER_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_EMPLOYEE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_EMPLOYEE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](255) NOT NULL,
	[FULL_NAME] [nvarchar](255) NOT NULL,
	[GENDER_ID] [bigint] NOT NULL,
	[BIRTH_DATE] [nvarchar](55) NOT NULL,
	[ID_NO] [nvarchar](55) NOT NULL,
	[STAFF_GROUP_ID] [bigint] NOT NULL,
	[PHONE_NUMBER] [nvarchar](55) NOT NULL,
	[EMAIL] [nvarchar](55) NULL,
	[ADDRESS] [nvarchar](255) NOT NULL,
	[NOTE] [nvarchar](255) NULL,
	[STATUS_ID] [bigint] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
 CONSTRAINT [PK_PER_EMPLOYEE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_EMPLOYEE_CLASS]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_EMPLOYEE_CLASS](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](200) NULL,
	[NAME] [nvarchar](200) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
	[IS_BOOKING] [bit] NULL,
	[IS_SALE] [bit] NULL,
 CONSTRAINT [PK_EMPLOYEE_CLASS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PER_NATION]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PER_NATION](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[NAME] [nvarchar](100) NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[NOTE] [nvarchar](450) NULL,
 CONSTRAINT [PK_PER_NATION] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_COMPANY]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_COMPANY](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_MENU]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_MENU](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](500) NULL,
	[NAME] [nvarchar](500) NULL,
	[PARENT] [bigint] NULL,
	[ICON] [nvarchar](500) NULL,
	[IS_HIDDEN] [bit] NULL,
 CONSTRAINT [PK_SYS_MENU] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_OTHER_LIST]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OTHER_LIST](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[TYPE_ID] [bigint] NULL,
	[ORDERS] [int] NULL,
	[IS_ACTIVE] [bit] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
	[NOTE] [nvarchar](255) NULL,
 CONSTRAINT [PK_SYS_OTHER_LIST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_OTHER_LIST_TYPE]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OTHER_LIST_TYPE](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODE] [nvarchar](50) NULL,
	[NAME] [nvarchar](200) NULL,
	[ORDERS] [int] NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[CREATED_BY] [nvarchar](255) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](255) NULL,
	[NOTE] [nvarchar](500) NULL,
	[IS_SYSTEM] [bit] NULL,
	[IS_ACTIVE] [bit] NULL,
 CONSTRAINT [PK_SYS_OTHER_LIST_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_PRINTER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_PRINTER](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_SWIPEDATA]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_SWIPEDATA](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_USER]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_USER](
	[ID] [nvarchar](36) NOT NULL,
	[USERNAME] [nvarchar](256) NULL,
	[FULLNAME] [nvarchar](100) NULL,
	[PASSWORDHASH] [nvarchar](max) NULL,
	[EMPLOYEE_ID] [bigint] NULL,
	[GROUP_ID] [bigint] NULL,
	[IS_ADMIN] [bit] NULL,
	[IS_ROOT] [bit] NULL,
	[AVATAR] [nvarchar](150) NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
	[IS_LOCK] [bit] NULL,
	[DECENTRALIZATION] [nvarchar](max) NULL,
 CONSTRAINT [PK_SYS_USER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_WARNING]    Script Date: 12/20/2024 9:25:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_WARNING](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CREATED_BY] [nvarchar](450) NULL,
	[UPDATED_BY] [nvarchar](450) NULL,
	[CREATED_DATE] [datetime2](7) NULL,
	[UPDATED_DATE] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CARD_CHECK_IN] ON 

INSERT [dbo].[CARD_CHECK_IN] ([ID], [TIME_START], [TIME_END], [CARD_INFO_ID], [DAY_CHECK_IN], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (9, CAST(N'2024-05-12T12:25:55.7238425' AS DateTime2), CAST(N'2024-05-12T21:02:47.4951372' AS DateTime2), 4, CAST(N'2024-05-12T00:00:00.0000000' AS DateTime2), N'', N'', CAST(N'2024-05-12T12:25:56.0310969' AS DateTime2), CAST(N'2024-05-12T21:02:49.5029515' AS DateTime2))
INSERT [dbo].[CARD_CHECK_IN] ([ID], [TIME_START], [TIME_END], [CARD_INFO_ID], [DAY_CHECK_IN], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (10, CAST(N'2024-05-12T21:06:01.6299276' AS DateTime2), CAST(N'2024-05-12T21:54:18.9301045' AS DateTime2), 8, CAST(N'2024-05-12T00:00:00.0000000' AS DateTime2), N'', N'', CAST(N'2024-05-12T21:06:03.0979473' AS DateTime2), CAST(N'2024-05-12T21:54:20.9709892' AS DateTime2))
INSERT [dbo].[CARD_CHECK_IN] ([ID], [TIME_START], [TIME_END], [CARD_INFO_ID], [DAY_CHECK_IN], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (11, CAST(N'2024-05-12T21:54:26.1835822' AS DateTime2), NULL, 10, CAST(N'2024-05-12T00:00:00.0000000' AS DateTime2), N'', NULL, CAST(N'2024-05-12T21:54:27.6413927' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[CARD_CHECK_IN] OFF
GO
SET IDENTITY_INSERT [dbo].[CARD_HISTORY] ON 

INSERT [dbo].[CARD_HISTORY] ([ID], [CODE], [EFFECTED_DATE], [EXPIRED_DATE], [CARD_TYPE_ID], [WARDROBE], [SHIFT_ID], [PRICE], [CUSTOMER_ID], [LOCKER_ID], [NOTE], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [ACTION], [IS_HAVE_PT]) VALUES (1, N'CAR003', N'2024-05-10', N'2025-05-10', 10037, 1, 2, 123456789, NULL, NULL, N'123Ghi chú', 1, NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[CARD_HISTORY] ([ID], [CODE], [EFFECTED_DATE], [EXPIRED_DATE], [CARD_TYPE_ID], [WARDROBE], [SHIFT_ID], [PRICE], [CUSTOMER_ID], [LOCKER_ID], [NOTE], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [ACTION], [IS_HAVE_PT]) VALUES (2, N'CAR003', N'2024-05-10', N'2025-05-10', 10037, 1, 2, 123456789, NULL, NULL, N'123Ghi chú', 1, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, CAST(N'2024-05-09T17:49:27.8088044' AS DateTime2), NULL, 3, NULL)
INSERT [dbo].[CARD_HISTORY] ([ID], [CODE], [EFFECTED_DATE], [EXPIRED_DATE], [CARD_TYPE_ID], [WARDROBE], [SHIFT_ID], [PRICE], [CUSTOMER_ID], [LOCKER_ID], [NOTE], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [ACTION], [IS_HAVE_PT]) VALUES (3, N'CARD002', N'2024-05-10', N'2024-06-09', 10037, 1, 2, 300000, NULL, NULL, NULL, NULL, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, CAST(N'2024-05-09T18:03:18.0513188' AS DateTime2), NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[CARD_HISTORY] OFF
GO
SET IDENTITY_INSERT [dbo].[CARD_INFO] ON 

INSERT [dbo].[CARD_INFO] ([ID], [CODE], [EFFECTED_DATE], [EXPIRED_DATE], [EFFECTED_DATE_TIME], [EXPIRED_DATE_TIME], [CARD_TYPE_ID], [WARDROBE], [SHIFT_ID], [PRICE], [CUSTOMER_ID], [LOCKER_ID], [NOTE], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [IS_HAVE_PT]) VALUES (7, N'CARD004', N'2024-05-12', N'2024-05-20', CAST(N'2024-05-12T00:00:00.0000000' AS DateTime2), CAST(N'2024-05-20T00:00:00.0000000' AS DateTime2), 10037, NULL, 5, 500000, 10016, NULL, NULL, 1, N'fa89ac07-7686-47d5-be4d-5503442e63e2', NULL, CAST(N'2024-05-12T13:32:46.0898714' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CARD_INFO] OFF
GO
SET IDENTITY_INSERT [dbo].[CARD_ISSUANCE] ON 

SET IDENTITY_INSERT [dbo].[CARD_ISSUANCE] OFF
GO
SET IDENTITY_INSERT [dbo].[CARD_LOCK] ON 

INSERT [dbo].[CARD_LOCK] ([ID], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (1, N'1', N'1', CAST(N'2024-01-02' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[CARD_LOCK] OFF
GO
SET IDENTITY_INSERT [dbo].[GOODS_EQUIPMENT] ON 

INSERT [dbo].[GOODS_EQUIPMENT] ([ID], [CODE], [NAME], [EQUIPMENT_TYPE], [MANUFACTURER], [PURCHASE_DATE], [STATUS_ID], [WARRANTY_EXPIRY_DATE], [COST], [ADDRESS], [MANAGER_ID], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (5, N'TB0001', N'MÁY CHẠY BỘ KINGSPORT XPRO K-03 ĐƠN NĂNG', 28, N'KINGSPORT ', CAST(N'2024-05-31T00:00:00.0000000' AS DateTime2), 10048, CAST(N'2025-06-01T00:00:00.0000000' AS DateTime2), CAST(39300000.00 AS Decimal(18, 2)), NULL, 8, NULL, CAST(N'2024-05-31T16:58:02.5898429' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, NULL)
INSERT [dbo].[GOODS_EQUIPMENT] ([ID], [CODE], [NAME], [EQUIPMENT_TYPE], [MANUFACTURER], [PURCHASE_DATE], [STATUS_ID], [WARRANTY_EXPIRY_DATE], [COST], [ADDRESS], [MANAGER_ID], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (6, N'TB0002', N'XE ĐẠP TẬP KINGSPORT CLASSIC E-10', 10046, N'KINGSPORT ', CAST(N'2024-05-31T00:00:00.0000000' AS DateTime2), 10042, CAST(N'2025-05-31T00:00:00.0000000' AS DateTime2), CAST(7500000.00 AS Decimal(18, 2)), NULL, 8, NULL, CAST(N'2024-05-31T16:59:07.7629357' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, NULL)
INSERT [dbo].[GOODS_EQUIPMENT] ([ID], [CODE], [NAME], [EQUIPMENT_TYPE], [MANUFACTURER], [PURCHASE_DATE], [STATUS_ID], [WARRANTY_EXPIRY_DATE], [COST], [ADDRESS], [MANAGER_ID], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (7, N'TB0003', N'GHẾ MASSAGE ELIP GALILE (GDV CU)', 10047, N'ELIP ', CAST(N'2024-05-31T00:00:00.0000000' AS DateTime2), 10042, CAST(N'2026-05-31T00:00:00.0000000' AS DateTime2), CAST(7500000.00 AS Decimal(18, 2)), NULL, 8, NULL, CAST(N'2024-05-31T17:00:00.3974496' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, NULL)
SET IDENTITY_INSERT [dbo].[GOODS_EQUIPMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[GOODS_EQUIPMENT_FIX] ON 

INSERT [dbo].[GOODS_EQUIPMENT_FIX] ([ID], [CODE], [EQUIPMENT_ID], [TYPE_ID], [START_DATE], [END_DATE], [RESULT_ID], [MONEY], [EXPECTED_USE_TIME], [EMPLOYEE_ID], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [STATUS_ID]) VALUES (4, N'BTSC0001', 5, 28, N'2024-06-17', N'2024-06-20', NULL, NULL, NULL, NULL, NULL, CAST(N'2024-06-17T01:01:05.0795279' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', CAST(N'2024-06-17T09:23:02.5784766' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', 10048)
SET IDENTITY_INSERT [dbo].[GOODS_EQUIPMENT_FIX] OFF
GO
SET IDENTITY_INSERT [dbo].[GOODS_LIST] ON 

SET IDENTITY_INSERT [dbo].[GOODS_LIST] OFF
GO
SET IDENTITY_INSERT [dbo].[GOODS_LOCKER] ON 

INSERT [dbo].[GOODS_LOCKER] ([ID], [CODE], [AREA], [PRICE], [STATUS_ID], [MAINTENANCE_FROM_DATE], [MAINTENANCE_TO_DATE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (1, N'LOC001', 8, 20000, 10032, NULL, NULL, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', CAST(N'2024-05-05T16:31:05.0851654' AS DateTime2), CAST(N'2024-05-05T16:34:50.4907843' AS DateTime2), N'Note')
INSERT [dbo].[GOODS_LOCKER] ([ID], [CODE], [AREA], [PRICE], [STATUS_ID], [MAINTENANCE_FROM_DATE], [MAINTENANCE_TO_DATE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (2, N'LOC002', 8, 30000, 10030, NULL, NULL, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', N'53e6c3c2-8db9-4aaa-bab7-9d7f62a9fd30', CAST(N'2024-05-06T16:35:12.0818272' AS DateTime2), CAST(N'2024-06-10T21:51:34.3074312' AS DateTime2), NULL)
INSERT [dbo].[GOODS_LOCKER] ([ID], [CODE], [AREA], [PRICE], [STATUS_ID], [MAINTENANCE_FROM_DATE], [MAINTENANCE_TO_DATE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (3, N'LOC003', 9, 20000, 10032, NULL, NULL, N'fa89ac07-7686-47d5-be4d-5503442e63e2', N'53e6c3c2-8db9-4aaa-bab7-9d7f62a9fd30', CAST(N'2024-05-12T15:42:36.1138108' AS DateTime2), CAST(N'2024-06-10T21:50:38.5886893' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[GOODS_LOCKER] OFF
GO
SET IDENTITY_INSERT [dbo].[GOODS_SHIFT] ON 

INSERT [dbo].[GOODS_SHIFT] ([ID], [CODE], [NAME], [TOTAL_DAYS], [HOURS_START], [HOURS_END], [IS_ACTIVE], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (4, N'SHIFT0001', N'SHIFT0001', 7, N'18:00', N'20:00', 1, NULL, CAST(N'2024-05-11T15:26:03.7052909' AS DateTime2), N'53e6c3c2-8db9-4aaa-bab7-9d7f62a9fd30', NULL, NULL)
INSERT [dbo].[GOODS_SHIFT] ([ID], [CODE], [NAME], [TOTAL_DAYS], [HOURS_START], [HOURS_END], [IS_ACTIVE], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (5, N'SHIFT0002', N'Ca tập thường', 6, N'08:00', N'20:30', 1, N'ko', CAST(N'2024-05-12T13:25:23.6286042' AS DateTime2), N'fa89ac07-7686-47d5-be4d-5503442e63e2', CAST(N'2024-05-12T13:34:43.2840869' AS DateTime2), N'fa89ac07-7686-47d5-be4d-5503442e63e2')
INSERT [dbo].[GOODS_SHIFT] ([ID], [CODE], [NAME], [TOTAL_DAYS], [HOURS_START], [HOURS_END], [IS_ACTIVE], [NOTE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (6, N'SHIFT0003', N'Ca tập vip', 7, N'09:30', N'20:30', 1, NULL, CAST(N'2024-05-12T13:29:16.0517509' AS DateTime2), N'fa89ac07-7686-47d5-be4d-5503442e63e2', CAST(N'2024-05-12T13:34:52.8113537' AS DateTime2), N'fa89ac07-7686-47d5-be4d-5503442e63e2')
SET IDENTITY_INSERT [dbo].[GOODS_SHIFT] OFF
GO
SET IDENTITY_INSERT [dbo].[ORD_BILL] ON 

INSERT [dbo].[ORD_BILL] ([ID], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [TYPE_TRANSFER], [CUSTOMER_ID], [PER_SELL_ID], [CODE], [DISC_PERCENT], [MONEY_HAVE_PAY], [TOTAL_MONEY], [PAY_METHOD], [PK_REF], [PERCENT_VAT], [VOUCHER_ID], [IS_CONFIRM], [PRINTED], [PRINT_NUMBER]) VALUES (1, N'53e6c3c2-8db9-4aaa-bab7-9d7f62a9fd30', NULL, CAST(N'2024-06-16T19:09:54.8575650' AS DateTime2), NULL, 10033, 10013, 8, N'GYM_OD/0001', CAST(10 AS Decimal(18, 0)), 49500, 55000, 0, 0, CAST(10 AS Decimal(18, 0)), NULL, NULL, NULL, NULL)
INSERT [dbo].[ORD_BILL] ([ID], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [TYPE_TRANSFER], [CUSTOMER_ID], [PER_SELL_ID], [CODE], [DISC_PERCENT], [MONEY_HAVE_PAY], [TOTAL_MONEY], [PAY_METHOD], [PK_REF], [PERCENT_VAT], [VOUCHER_ID], [IS_CONFIRM], [PRINTED], [PRINT_NUMBER]) VALUES (2, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, CAST(N'2024-06-23T23:22:39.4059735' AS DateTime2), NULL, 10033, 10015, NULL, N'GYM_OD/0002', CAST(0 AS Decimal(18, 0)), 500000, 500000, 0, 25, CAST(0 AS Decimal(18, 0)), NULL, 0, 0, 0)
INSERT [dbo].[ORD_BILL] ([ID], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [TYPE_TRANSFER], [CUSTOMER_ID], [PER_SELL_ID], [CODE], [DISC_PERCENT], [MONEY_HAVE_PAY], [TOTAL_MONEY], [PAY_METHOD], [PK_REF], [PERCENT_VAT], [VOUCHER_ID], [IS_CONFIRM], [PRINTED], [PRINT_NUMBER]) VALUES (3, N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', NULL, CAST(N'2024-06-24T21:05:26.6812296' AS DateTime2), NULL, 10033, 10015, NULL, N'GYM_OD/0003', CAST(0 AS Decimal(18, 0)), 5000000, 5000000, 0, 26, CAST(0 AS Decimal(18, 0)), NULL, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[ORD_BILL] OFF
GO
SET IDENTITY_INSERT [dbo].[PER_CUSTOMER] ON 

SET IDENTITY_INSERT [dbo].[PER_CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[PER_DISTRICT] ON 

INSERT [dbo].[PER_DISTRICT] ([ID], [CODE], [PROVINCE_ID], [NAME], [IS_ACTIVE], [NOTE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (1, N'D001', 29, N'Huyện Lạc Sơn', 1, N'TEST UPDATE ', N'HTSC1L1HS03', N'e332b6ad-87df-4cd4-a7dd-5eff0b621607', NULL, CAST(N'2024-02-21T08:45:31.2302621' AS DateTime2))
INSERT [dbo].[PER_DISTRICT] ([ID], [CODE], [PROVINCE_ID], [NAME], [IS_ACTIVE], [NOTE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (2, N'D002', 17, N'Huyện Đắk Mil', 1, NULL, N'HTSC1L1HS03', N'e332b6ad-87df-4cd4-a7dd-5eff0b621607', NULL, CAST(N'2024-02-21T08:45:31.2302621' AS DateTime2))
INSERT [dbo].[PER_DISTRICT] ([ID], [CODE], [PROVINCE_ID], [NAME], [IS_ACTIVE], [NOTE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE]) VALUES (3, N'D003', 1, N'Huyện Krông Nô', 1, N'nânna', N'HTSC1L1HS03', N'e332b6ad-87df-4cd4-a7dd-5eff0b621607', NULL, CAST(N'2024-02-21T08:45:31.2302621' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[PER_DISTRICT] OFF
GO
SET IDENTITY_INSERT [dbo].[PER_EMPLOYEE] ON 

INSERT [dbo].[PER_EMPLOYEE] ([ID], [CODE], [FULL_NAME], [GENDER_ID], [BIRTH_DATE], [ID_NO], [STAFF_GROUP_ID], [PHONE_NUMBER], [EMAIL], [ADDRESS], [NOTE], [STATUS_ID], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (6, N'GYM001', N'Đỗ Quốc Anh', 8, N'2003-08-16', N'00120230043', 22, N'0367698877', NULL, N'Hà Nội', NULL, 24, CAST(N'2024-04-08T16:10:49.9329667' AS DateTime2), N'root', CAST(N'2024-05-24T10:58:07.5432368' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660')
INSERT [dbo].[PER_EMPLOYEE] ([ID], [CODE], [FULL_NAME], [GENDER_ID], [BIRTH_DATE], [ID_NO], [STAFF_GROUP_ID], [PHONE_NUMBER], [EMAIL], [ADDRESS], [NOTE], [STATUS_ID], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (7, N'GYM002', N'Giàng A Lử', 8, N'2004-01-01', N'00120230048', 22, N'0367698843', NULL, N'Hà Nội', NULL, 24, CAST(N'2024-05-06T17:14:12.9909877' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', CAST(N'2024-06-22T16:46:16.0546835' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660')
INSERT [dbo].[PER_EMPLOYEE] ([ID], [CODE], [FULL_NAME], [GENDER_ID], [BIRTH_DATE], [ID_NO], [STAFF_GROUP_ID], [PHONE_NUMBER], [EMAIL], [ADDRESS], [NOTE], [STATUS_ID], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY]) VALUES (8, N'GYM003', N'Trần Linh Chi', 9, N'1999-03-23', N'00120230233', 10040, N'036783232', NULL, N'Quảng Ninh', NULL, 24, CAST(N'2024-05-10T01:31:39.7664974' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660', CAST(N'2024-06-22T16:46:24.8136108' AS DateTime2), N'e332b6ad-87df-4cd4-a7dd-5eff0b621660')
SET IDENTITY_INSERT [dbo].[PER_EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[PER_NATION] ON 

INSERT [dbo].[PER_NATION] ([ID], [CODE], [NAME], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (1, N'QG001', N'Việt Nam', 1, N'HUNGNX', N'c5ff3a9c-0141-4d33-902e-779b9cae53c6', CAST(N'2023-08-30T00:00:00.0000000' AS DateTime2), CAST(N'2024-02-26T10:14:11.8349995' AS DateTime2), N'VIETNAM')
INSERT [dbo].[PER_NATION] ([ID], [CODE], [NAME], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (27, N'QG003', N'Andorra', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PER_NATION] ([ID], [CODE], [NAME], [IS_ACTIVE], [CREATED_BY], [UPDATED_BY], [CREATED_DATE], [UPDATED_DATE], [NOTE]) VALUES (28, N'QG004', N'United Arab Emirates', NULL, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PER_NATION] OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_MENU] ON 

INSERT [dbo].[SYS_MENU] ([ID], [URL], [NAME], [PARENT], [ICON], [IS_HIDDEN]) VALUES (1, N'/cms/dashboard', N'Dashboard', NULL, N'flaticon-144-layout', NULL)
INSERT [dbo].[SYS_MENU] ([ID], [URL], [NAME], [PARENT], [ICON], [IS_HIDDEN]) VALUES (2, NULL, N'Quản lý khách hàng', NULL, N'flaticon-165-menu', NULL)
INSERT [dbo].[SYS_MENU] ([ID], [URL], [NAME], [PARENT], [ICON], [IS_HIDDEN]) VALUES (3, N'/cms/profile/per-customer', N'Thông tin khách hàng', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[SYS_MENU] OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_OTHER_LIST] ON 

INSERT [dbo].[SYS_OTHER_LIST] ([ID], [CODE], [NAME], [TYPE_ID], [ORDERS], [IS_ACTIVE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE]) VALUES (4, N'OTHER_GENDER', N'Khác', 13, NULL, 1, CAST(N'2024-04-04T16:23:07.0544279' AS DateTime2), N'root', NULL, NULL, N'Không xóa!')
INSERT [dbo].[SYS_OTHER_LIST] ([ID], [CODE], [NAME], [TYPE_ID], [ORDERS], [IS_ACTIVE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE]) VALUES (8, N'MAN', N'Nam', 13, NULL, 1, CAST(N'2024-04-06T09:08:46.4633172' AS DateTime2), N'root', NULL, NULL, N'Không xóa!')
INSERT [dbo].[SYS_OTHER_LIST] ([ID], [CODE], [NAME], [TYPE_ID], [ORDERS], [IS_ACTIVE], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE]) VALUES (9, N'WOMAN', N'Nữ', 13, NULL, 1, CAST(N'2024-04-06T17:14:00.1806184' AS DateTime2), N'root', NULL, NULL, N'Không xóa!!')
SET IDENTITY_INSERT [dbo].[SYS_OTHER_LIST] OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_OTHER_LIST_TYPE] ON 

INSERT [dbo].[SYS_OTHER_LIST_TYPE] ([ID], [CODE], [NAME], [ORDERS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE], [IS_SYSTEM], [IS_ACTIVE]) VALUES (12, N'STAFF_GROUP', N'Nhóm nhân viên', NULL, CAST(N'2024-04-04T15:44:16.1059444' AS DateTime2), N'root', NULL, NULL, N'Không xóa!', NULL, 1)
INSERT [dbo].[SYS_OTHER_LIST_TYPE] ([ID], [CODE], [NAME], [ORDERS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE], [IS_SYSTEM], [IS_ACTIVE]) VALUES (13, N'GENDER', N'Giới tính', NULL, CAST(N'2024-04-04T16:21:17.9103380' AS DateTime2), N'root', NULL, NULL, N'Không xóa!', NULL, 1)
INSERT [dbo].[SYS_OTHER_LIST_TYPE] ([ID], [CODE], [NAME], [ORDERS], [CREATED_DATE], [CREATED_BY], [UPDATED_DATE], [UPDATED_BY], [NOTE], [IS_SYSTEM], [IS_ACTIVE]) VALUES (34, N'CUSTOMER_GROUP', N'Nhóm khách hàng', NULL, CAST(N'2024-04-07T09:18:19.1275193' AS DateTime2), N'root', NULL, NULL, N'Nhóm khách hàng đăng kí', NULL, 1)
SET IDENTITY_INSERT [dbo].[SYS_OTHER_LIST_TYPE] OFF
GO
ALTER TABLE [dbo].[GOODS_LIST] ADD  CONSTRAINT [DF_GOODS_LIST_LOCATION]  DEFAULT (N'Vị trí kho') FOR [LOCATION]
GO
ALTER TABLE [dbo].[PER_NATION] ADD  CONSTRAINT [DF_PER_NATION_IS_ACTIVE]  DEFAULT ((1)) FOR [IS_ACTIVE]
GO
/****** Object:  StoredProcedure [dbo].[PKG_BIRTH_DATE_IN_MONTH_REPORT]    Script Date: 12/20/2024 9:25:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC PKG_BIRTH_DATE_IN_MONTH_REPORT '2024-01'
CREATE PROCEDURE [dbo].[PKG_BIRTH_DATE_IN_MONTH_REPORT]
						@P_MONTH_YEAR NVARCHAR(200)
AS
	DECLARE @P_MONTH INT;
	DECLARE @P_YEAR INT;

	SET @P_YEAR = LEFT(@P_MONTH_YEAR, CHARINDEX('-', @P_MONTH_YEAR) - 1);
	SET @P_MONTH = RIGHT(@P_MONTH_YEAR, LEN(@P_MONTH_YEAR) - CHARINDEX('-', @P_MONTH_YEAR));

	--SELECT @P_YEAR AS Year, @P_MONTH AS Month;
	

	SELECT	ROW_NUMBER() OVER (ORDER BY C.CODE) AS STT,
			C.CODE AS CODE,
			C.FULL_NAME AS FULL_NAME,
			CONVERT(VARCHAR(10), CONVERT(DATE, C.BIRTH_DATE), 105) AS BIRTH_DAY,
			S.NAME AS GENDER,
			C.PHONE_NUMBER AS PHONE_NUMBER,
			C.EMAIL AS EMAIL
	FROM PER_CUSTOMER AS C
	JOIN SYS_OTHER_LIST AS S ON C.GENDER_ID = S.ID
	WHERE	SUBSTRING(C.BIRTH_DATE, CHARINDEX('-', C.BIRTH_DATE) + 1, CHARINDEX('-', C.BIRTH_DATE, CHARINDEX('-', C.BIRTH_DATE) + 1) - CHARINDEX('-', C.BIRTH_DATE) - 1) = @P_MONTH
			AND STATUS_ID = 10027;
GO
/****** Object:  StoredProcedure [dbo].[PKG_CARDS_ABOUT_TO_EXPIRE_REPORT]    Script Date: 12/20/2024 9:25:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PKG_CARDS_ABOUT_TO_EXPIRE_REPORT]
			@P_DAY_LEFT INT
AS
	DECLARE @P_CURRENT_DATE DATE

	SET @P_CURRENT_DATE = GETDATE() 


	SELECT	ROW_NUMBER() OVER (ORDER BY I.CODE) AS STT,
			I.CODE AS CARD_CODE,
			L1.NAME AS CARD_TYPE,
			C.CODE AS EMPLOYEE_CODE,
			C.FULL_NAME AS FULL_NAME,
			L.NAME AS GENDER,
			C.PHONE_NUMBER AS PHONE_NUMBER,
			CONVERT(VARCHAR(10), CONVERT(DATE, I.EFFECTED_DATE), 105) AS EFFECTED_DATE,
			CONVERT(VARCHAR(10), CONVERT(DATE, I.EXPIRED_DATE), 105) AS EXPIRED_DATE,
			DATEDIFF(DAY, @P_CURRENT_DATE, CONVERT(DATE, I.EXPIRED_DATE)) AS DAY_LEFT
	FROM CARD_INFO AS I
		JOIN PER_CUSTOMER C ON C.ID = I.CUSTOMER_ID
		JOIN SYS_OTHER_LIST AS L ON L.ID = C.GENDER_ID 
		LEFT JOIN SYS_OTHER_LIST AS L1 ON I.CARD_TYPE_ID = L1.ID
		LEFT JOIN GOODS_SHIFT AS S ON S.ID = I.SHIFT_ID
	WHERE (DATEDIFF(DAY, @P_CURRENT_DATE, CONVERT(DATE, I.EXPIRED_DATE)) BETWEEN 0 AND @P_DAY_LEFT)
		AND I.CUSTOMER_ID IS NOT NULL 
		AND I.IS_ACTIVE = 1
GO
/****** Object:  StoredProcedure [dbo].[PKG_TEST_STORE]    Script Date: 12/20/2024 9:25:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PKG_TEST_STORE]
AS
	SELECT * FROM PER_CUSTOMER
GO;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-THEM MOI | 2-SUA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CARD_HISTORY', @level2type=N'COLUMN',@level2name=N'ACTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_DISCOUNT_VOUCHER', @level2type=N'COLUMN',@level2name=N'CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_DISCOUNT_VOUCHER', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên thiết bị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại thiết bị (SYS_OTHER_LIST)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'EQUIPMENT_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hãng sản xuất' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'MANUFACTURER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày mua' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'PURCHASE_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tình trạng: Trạng thái hiện tại của thiết bị (SYS_OTHER_LIST)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'STATUS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hết hạn bảo hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'WARRANTY_EXPIRY_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá trị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'COST'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa điểm: Vị trí cụ thể của thiết bị trong phòng gym' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'ADDRESS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người quản lý' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'MANAGER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ghi chú' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT', @level2type=N'COLUMN',@level2name=N'NOTE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thiết bị ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'EQUIPMENT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại: bảo trì - 0 / sửa chữa - 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'TYPE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ngày thực hiện bảo trì/ sửa chữa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'START_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hoàn thành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'END_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái sau bảo trì/sửa chữa (SYS_OTHER_LIST)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'RESULT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chi phí bảo trì/sửa chữa' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'MONEY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời gian dự kiến sử dụng lại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'EXPECTED_USE_TIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'người giám sát' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_EQUIPMENT_FIX', @level2type=N'COLUMN',@level2name=N'EMPLOYEE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mã sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'CODE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tên sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Loại sản phẩm' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'PRODUCT_TYPE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nhà cung cấp' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'SUPPLIER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá nhập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'IMPORT_PRICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Giá bán' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'PRICE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lượng tồn kho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'QUANTITY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đơn vị' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'MEASURE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày nhập kho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'RECEIVING_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày nhập kho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'RECEIVING_DATETIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hết hạn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'EXPIRE_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày hết hạn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'EXPIRE_DATETIME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Trạng thái' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'STATUS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số lô hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'BATCH_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thông tin bảo hành' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'WARRANTY_INFOR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả chi tiết' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nguồn gốc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'SOURCE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Người quản lý' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST', @level2type=N'COLUMN',@level2name=N'MANAGER_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'DANH MUC HANG HOA' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_LIST'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Khoảng giá' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_PACKAGE', @level2type=N'COLUMN',@level2name=N'MONEY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Thời hạn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_PACKAGE', @level2type=N'COLUMN',@level2name=N'PERIOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ca tập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_PACKAGE', @level2type=N'COLUMN',@level2name=N'SHIFT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mô tả' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_PACKAGE', @level2type=N'COLUMN',@level2name=N'DESCRIPTION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'gói tập riêng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GOODS_PACKAGE', @level2type=N'COLUMN',@level2name=N'IS_PRIVATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nhóm khách' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'CUSTOMER_CLASS_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Họ tên' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'FULL_NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'BIRTH_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Địa chỉ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'ADDRESS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số điện thoại' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'PHONE_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Email' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'EMAIL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dân tộc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'NATIVE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tôn giáo' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'RELIGION_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngân  hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'BANK_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Chi nhánh ngân hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'BANK_BRANCH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Số tài khoản' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'BANK_NO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'khách tập thử' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'IS_GUEST_PASS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ngày đăng ký' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'JOIN_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CHIỀU CAO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'HEIGHT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'CÂN NẶNG' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'WEIGHT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID THẺ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'CARD_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gói tập' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'GYM_PACKAGE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'huấn luyện viên cá nhân' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'PER_PT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'nhân viên bán hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER', @level2type=N'COLUMN',@level2name=N'PER_SALE_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PER_CUSTOMER_CLASS', @level2type=N'COLUMN',@level2name=N'ID'
GO
USE [master]
GO
